.itemInfo {

  display: grid;
  width: 100%;
  height: 100vh;
  padding-top: 5rem;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  font-size: 1rem;
  color: black;
  position: relative;

  &__back {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 8rem;
    font-size: 1.5rem;
    color: $primary__color;
    top: 200px;
  }

  &__img {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__text {
    padding-top: 200px;

    &--title {
      font-size: 2rem;
      text-align: center;
    }

    &--desc {
      text-align: justify;
    }
  }

  &__add {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &--price {
      width: 65%;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      font-size: 1.3rem;
    }
  }

  &__extras {
    font-size: 1.3rem;
  }

  &__topping {
    font-size: 1rem;
    list-style: none;
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-left: -40px;
    padding-top: 15px;

    &--name {
      flex-grow: 2;
    }

    &--add {
      margin-left: -20px;
    }

    &--minus {
      margin-left: 20px;
    }
  }

  &__checkout {
    position: absolute;
    right: 0;
    top: calc((100vh - 600px) / 2)
  }
}