.menuItem {
  background-color: orchid;
  overflow-y: scroll;
  height: 420px;

  &__pic {
    background-color: blue;
    margin: 0.5rem;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    font-size: 1.5rem;
  }

  &__stars {
    display: flex;
    font-size: 20px;
    margin: 1rem;
    color: gold;
  }
}