extends base

block content
  .admin
    include components/admin/adminNav
    //- Orders
    //- include components/admin/ordersList
    //- include components/admin/orderInfo

    //- Menu
    include components/admin/menuList
    include components/admin/menuItemInfo