extends base

block content
  .admin
    .adminNav
      .adminNav__orders
        h3.adminNav__title ORDERS
        span.adminNav__orders--progress IN PROGRESS
        span.adminNav__orders--ready READY
        span.adminNav__orders--completed COMPLETED
      .adminNav__menu
        h3.adminNav__menu--title MENU
        span.adminNav__menu--all ALL
        span.adminNav__menu--add ADD
      .adminNav__reviews
        h3.adminNav__reviews--title REVIEWS
        span.adminNav__reviews--item ITEM
        span.adminNav__reviews--survey SURVEY

        