extends base

block content
  .admin
    .admin__nav
      include components/admin/adminNav
    
    if data.show == 'completed'
      .admin__completed
        include components/admin/ordersCompleted
        include components/admin/orderInfoCompleted
    else if data.show == 'pending'
      .admin__pending
        //- Orders
        include components/admin/ordersList
        include components/admin/orderInfo
    else if data.show == 'progress'
      .admin__progress
        include components/admin/ordersProgress
        include components/admin/orderProgressInfo
    else if data.show == 'ready'
        include components/admin/ordersReady
        include components/admin/orderReadyInfo

    

    //- Menu
    //- include components/admin/menuList
    //- include components/admin/menuItemInfo