extends base

block content
  .admin
    include components/admin/adminNav
    //- Orders Incoming

    //- Orders Completed
    include components/admin/ordersList
    include components/admin/orderInfo
