.checkout
  .checkout__title
    h3 Your Orders:
  ul.checkout__list
    li
      span.checkout__list--item Stack Overflowed
      span.checkout__list--quantity X1
      span.checkout__list--price 14.99
    li
      span.checkout__list--item Stack Overflowed
      span.checkout__list--quantity X1
      span.checkout__list--price 14.99
    li
      span.checkout__list--item Stack Overflowed
      span.checkout__list--quantity X1
      span.checkout__list--price 14.99
    li
      span.checkout__list--item Stack Overflowed
      span.checkout__list--quantity X1
      span.checkout__list--price 14.99
  .checkout__total
    span.checkout__total--title TOTAL
    span.checkout__total--price 78.99
  a(href="#").checkout__button CHECKOUT
