extends base

block content
  .itemInfo
    .itemInfo__img
      img(src='http://www.pngmart.com/files/5/Pancakes-PNG-Transparent-Image.png')
    .itemInfo__text
      h3.itemInfo__text--title= data.menu.name
      p.itemInfo__text--desc= data.menu.description
      .itemInfo__add
        .itemInfo__add--price
          span Price
          span= data.menu.cost
        .button__primaryInvert--small ADD
      h4.itemInfo__text--subtitle EXTRAS
      ul.itemInfo__extras
        for extra in data.extras
          li.itemInfo__topping
            span.itemInfo__topping--name= extra.name
            span.itemInfo__topping--add
              <i class="fas fa-plus"></i>
            span.itemInfo__topping--minus
              <i class="fas fa-minus"></i>
    .itemInfo__checkout
      include components/client/checkout