extends base

block content
  .jumbotron
    .jumbotron__img
      img(src='https://pngimg.com/uploads/pancake/pancake_PNG31.png')
    .jumbotron__block
      h1.jumbotron__block--title The RESTful Stack
      span.jumbotron__block--text Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam porro illum aperiam, officia autem rem? Veniam maxime ipsam, cum iste porro sapiente ut, modi est possimus velit dolores alias ipsa.
      a(href='#')