extends base

block content
  .jumbotron
    .jumbotron__img
      img(src='https://pngimg.com/uploads/pancake/pancake_PNG31.png')
    .jumbotron__block
      h1.jumbotron__block--title The RESTful Stack
      span.jumbotron__block--text Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam porro illum aperiam.
      a(class='jumbotron__block--button button__primary' href='#') Enter