extends base

block content
  .menu
    .menu__items
      include components/client/menuItem
      include components/client/menuItem
      include components/client/menuItem
      include components/client/menuItem
      include components/client/menuItem
      include components/client/menuItem
    include components/client/checkout