extends base

block content
  .menu
    .menu__items
      .menuItem
        .menuItem__pic
          img(src='http://www.pngmart.com/files/5/Pancakes-PNG-Transparent-Image.png')
        .menuItem__text
          span.menuItem__text--title Stack Overflowed
          span.menuItem__text--price  14.99
        .menuItem__stars
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')
      
      .menuItem
        .menuItem__pic
          img(src='http://www.pngmart.com/files/5/Pancakes-PNG-Transparent-Image.png')
        .menuItem__text
          span.menuItem__text--title Stack Overflowed
          span.menuItem__text--price  14.99
        .menuItem__stars
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')

      .menuItem
        .menuItem__pic
          img(src='http://www.pngmart.com/files/5/Pancakes-PNG-Transparent-Image.png')
        .menuItem__text
          span.menuItem__text--title Stack Overflowed
          span.menuItem__text--price  14.99
        .menuItem__stars
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')
    
      .menuItem
        .menuItem__pic
          img(src='http://www.pngmart.com/files/5/Pancakes-PNG-Transparent-Image.png')
        .menuItem__text
          span.menuItem__text--title Stack Overflowed
          span.menuItem__text--price  14.99
        .menuItem__stars
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')
          img(src='https://lh3.googleusercontent.com/proxy/bIYBNErce4l0LArHALdg_DsJ6IU0sOgcTPoihBHlm0nTgi0dTsi4IgxdlgbubIEW75XGXavz0Si2jIu4HIXUYpqIdJVsutQoM7IBoSTyZs2NtUHCX4biaZQhoqzo7f5yriBaVqO9M2LsB_--rttUV5ciG3lHjbjVIVMHSoM7j7bxjeY')

    include checkout