.adminNav
  .adminNav__orders
    h3.adminNav__title ORDERS
    .adminNav__progress
      span IN PROGRESS
    .adminNav__ready
      span READY
    .adminNav__completed
      span COMPLETED
  .adminNav__menu
    h3.adminNav__title MENU
    .adminNav__menu--all
      span ALL
    .adminNav__menu--add
      span ADD
  .adminNav__reviews
    h3.adminNav__title REVIEWS
    .adminNav__reviews--item
      span ITEM
    .adminNav__reviews--survey
      span SURVEY