.adminNav
      .adminNav__orders
        h3.adminNav__title ORDERS
        .adminNav__orders--progress
          span IN PROGRESS
        .adminNav__orders--ready
          span READY
        .adminNav__orders--completed
          span COMPLETED
      .adminNav__menu
        h3.adminNav__menu--title MENU
        .adminNav__menu--all
          span ALL
        .adminNav__menu--add 
          span ADD
      .adminNav__reviews
        h3.adminNav__reviews--title REVIEWS
        .adminNav__reviews--item 
          span ITEM
        .adminNav__reviews--survey
          span SURVEY