.menuList
  h3.menuList__title MENU
  .underline
  ul.menuList__list
    li.menuList__item 
      span.menuList__item--name Stacked Overflowed
      span.menuList__item--flag 
      span.menuList__item--status ACTIVE
    li.menuList__item 
      span.menuList__item--name Stacked Overflowed
      span.menuList__item--flag 
      span.menuList__item--status ACTIVE
    li.menuList__item 
      span.menuList__item--name Stacked Overflowed
      span.menuList__item--flag 
      span.menuList__item--status ACTIVE
    li.menuList__item 
      span.menuList__item--name Stacked Overflowed
      span.menuList__item--flag 
      span.menuList__item--status ACTIVE
    li.menuList__item 
      span.menuList__item--name Stacked Overflowed
      span.menuList__item--flag 
      span.menuList__item--status ACTIVE
    li.menuList__item 
      span.menuList__item--name Stacked Overflowed
      span.menuList__item--flag 
      span.menuList__item--status ACTIVE
    li.menuList__item 
      span.menuList__item--name Stacked Overflowed
      span.menuList__item--flag <i class="fas fa-flag"></i>
      span.menuList__item--status EXPIRING
    li.menuList__item 
      span.menuList__item--name Stacked Overflowed
      span.menuList__item--flag <i class="fas fa-flag"></i>
      span.menuList__item--status EXPIRING
    li.menuList__item 
      span.menuList__item--name Stacked Overflowed
      span.menuList__item--flag <i class="fas fa-exclamation"></i>
      span.menuList__item--status EXPIRED
    li.menuList__item 
      span.menuList__item--name Stacked Overflowed
      span.menuList__item--flag 
      span.menuList__item--status ACTIVE