.orderInfoCompleted
  h3.orderInfoCompleted__title ORDER
  .underline
  ul.orderInfoCompleted__list
    - console.log(data.firstOrder.menu_items)
    li.orderInfoCompleted__item
      span.orderInfoCompleted__item--title Stack Overflowed
      span.orderInfoCompleted__item--quantity X1
    li.orderInfoCompleted__item
      span.orderInfoCompleted__item--title Stack Overflowed
      span.orderInfoCompleted__item--quantity X1
    li.orderInfoCompleted__item
      span.orderInfoCompleted__item--title Stack Overflowed
      span.orderInfoCompleted__item--quantity X1
  .orderInfoCompleted__timeline
    include timelineCompleted
