.ordersList
  h3.ordersList__title ORDERS
  .underline
  ul.ordersList__list
    li.ordersList__item
      span.ordersList__item--id 1234
      span.ordersList__item--timeStart 22 MINS AGO
      span.ordersList__item--flag 
      span.ordersList__item--timeFinish 22 MINS TO GO
    li.ordersList__item
      span.ordersList__item--id 1234
      span.ordersList__item--timeStart 22 MINS AGO
      span.ordersList__item--flag 
      span.ordersList__item--timeFinish 22 MINS TO GO
    li.ordersList__item
      span.ordersList__item--id 1234
      span.ordersList__item--timeStart 22 MINS AGO
      span.ordersList__item--flag 
      span.ordersList__item--timeFinish 22 MINS TO GO
    li.ordersList__item
      span.ordersList__item--id 1234
      span.ordersList__item--timeStart 22 MINS AGO
      span.ordersList__item--flag 
      span.ordersList__item--timeFinish 22 MINS TO GO
    li.ordersList__item
      span.ordersList__item--id 1234
      span.ordersList__item--timeStart 22 MINS AGO
      span.ordersList__item--flag 
      span.ordersList__item--timeFinish 22 MINS TO GO
    li.ordersList__item
      span.ordersList__item--id 1234
      span.ordersList__item--timeStart 22 MINS AGO
      span.ordersList__item--flag 
      span.ordersList__item--timeFinish 22 MINS TO GO
    li.ordersList__item
      span.ordersList__item--id 1234
      span.ordersList__item--timeStart 22 MINS AGO
      span.ordersList__item--flag <i class="fas fa-flag"></i>
      span.ordersList__item--timeFinish 22 MINS TO GO
    li.ordersList__item
      span.ordersList__item--id 1234
      span.ordersList__item--timeStart 22 MINS AGO
      span.ordersList__item--flag <i class="fas fa-flag"></i>
      span.ordersList__item--timeFinish 22 MINS TO GO
    li.ordersList__item
      span.ordersList__item--id 1234
      span.ordersList__item--timeStart 22 MINS AGO
      span.ordersList__item--flag <i class="fas fa-flag"></i>
      span.ordersList__item--timeFinish 22 MINS TO GO
    li.ordersList__item
      span.ordersList__item--id 1234
      span.ordersList__item--timeStart 22 MINS AGO
      span.ordersList__item--flag <i class="fas fa-flag"></i>
      span.ordersList__item--timeFinish 22 MINS TO GO
  .ordersList__index
    i(class="ordersList__index--prev fas fa-arrow-left")
    span.ordersList__index--text PAGE
    span.ordersList__index--page 1/25
    i(class="ordersList__index--next fas fa-arrow-right")