.orderInfoCompleted
  h3.orderInfoCompleted__title ORDER
  .underline
  ul.orderInfoCompleted__list
    - console.log(data.firstOrder.menu_items)
    for item in data.firstOrder.menu_items
      li.orderInfoCompleted__item
        span.orderInfoCompleted__item--title= item[1]
        span.orderInfoCompleted__item--quantity= 'X' + item[2]
  .orderInfoCompleted__timeline
    include timelineCompleted
