.orderInfo
  h3.orderInfo__title ORDER
  .underline
  ul.orderInfo__list
    li.orderInfo__item
      span.orderInfo__item--title Stack Overflowed
      span.orderInfo__item--quantity X1
      ul.orderInfo__item--extras
        li MAPLE SYRUP
        li WHIPPED BUTTER
        li WHIPPED BUTTER
        li WHIPPED BUTTER
    li.orderInfo__item
      span.orderInfo__item--title Stack Overflowed
      span.orderInfo__item--quantity X1
      ul.orderInfo__item--extras
        li MAPLE SYRUP
        li WHIPPED BUTTER
    li.orderInfo__item
      span.orderInfo__item--title Stack Overflowed
      span.orderInfo__item--quantity X1
      ul.orderInfo__item--extras
        li MAPLE SYRUP
        li WHIPPED BUTTER