.timelineCompleted
  ul.timelineCompleted__bar
    li(class="timelineCompleted__step timelineCompleted__step--active") INCOMING
    li(class="timelineCompleted__step timelineCompleted__step--active") PROGRESS
    li(class="timelineCompleted__step timelineCompleted__step--active") READY
    li(class="timelineCompleted__step timelineCompleted__step--active") COMPLETED