.checkout
  .checkout__title
    h3 Your Orders:
  ul.checkout__list
    li
      span.checkout__list--toggle 
        <i class="fas fa-caret-up"></i>
      span.checkout__list--item Stack Overflowed
      span.checkout__list--total 14.99
      .checkout__info
        .checkout__info--quantity
          span QUANTITY
          span X2
          span
            <i class="fas fa-plus"></i>
          span
            <i class="fas fa-minus"></i>
          span.checkout__info--quantityTotal 14.99
        .checkout__info--toppings
          .checkout__info--topping
            span TOPPPING 1
            span X1
            span
              <i class="fas fa-plus"></i>
            span
              <i class="fas fa-minus"></i>
            span.checkout__info--toppingTotal 0.99
    li
      span.checkout__list--toggle
        <i class="fas fa-caret-down"></i>
      span.checkout__list--item Stack Overflowed
      span.checkout__list--total 14.99
    li
      span.checkout__list--toggle
        <i class="fas fa-caret-down"></i>
      span.checkout__list--item Stack Overflowed
      span.checkout__list--total 14.99
    li
      span.checkout__list--toggle
        <i class="fas fa-caret-down"></i>
      span.checkout__list--item Stack Overflowed
      span.checkout__list--total 14.99
  .checkout__total
    span.checkout__total--title TOTAL
    span.checkout__total--price 78.99
  a(href="#").checkout__button.button__primary CHECKOUT
