.checkout
  .checkout__title
    h3 Your Orders:
  ul.checkout__list
    //- li
    //-   span.checkout__list--delete
    //-     <i class="fas fa-times"></i>
    //-   span.checkout__list--name Stack Overflowed
    //-   span.checkout__list--quantity X2
    //-   span.checkout__list--total 14.99
  ul.checkout__toppings
    //- li
    //-   span.checkout__toppings--delete
    //-     <i class="fas fa-times"></i>
    //-   span.checkout__toppings--name TOPPPING 1
    //-   span.checkout__toppings--quantity X1
    //-   span.checkout__toppings--total 0.99
  .checkout__total
    span.checkout__total--title TOTAL
    span.checkout__total--price 
  a(href="#").checkout__button.button__primary CHECKOUT
