.menuItem
  .menuItem__pic
    img(src='http://www.pngmart.com/files/5/Pancakes-PNG-Transparent-Image.png')
  .menuItem__text
    span.menuItem__text--title Stack Overflowed
    span.menuItem__text--price  14.99
  .menuItem__stars
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>