.orders
  h3.orders__title ORDERS
  .underline
  ul.orders__list
    li.orders__item
      span.orders__item--id ORDER 1234
      span.orders__item--time 22 MINS AGO
    li.orders__item
      span.orders__item--id ORDER 1234
      span.orders__item--time 22 MINS AGO
    li.orders__item
      span.orders__item--id ORDER 1234
      span.orders__item--time 22 MINS AGO
    li.orders__item
      span.orders__item--id ORDER 1234
      span.orders__item--time 22 MINS AGO
    li.orders__item
      span.orders__item--id ORDER 1234
      span.orders__item--time 22 MINS AGO
    li.orders__item
      span.orders__item--id ORDER 1234
      span.orders__item--time 22 MINS AGO
    li.orders__item
      span.orders__item--id ORDER 1234
      span.orders__item--time 22 MINS AGO
    li.orders__item
      span.orders__item--id ORDER 1234
      span.orders__item--time 22 MINS AGO
    li.orders__item
      span.orders__item--id ORDER 1234
      span.orders__item--time 22 MINS AGO
    li.orders__item
      span.orders__item--id ORDER 1234
      span.orders__item--time 22 MINS AGO
  .orders__index
    i(class="orders__index--prev fas fa-arrow-left")
    span.orders__index--text PAGE
    span.orders__index--page 1/25
    i(class="orders__index--next fas fa-arrow-right")