body {
  background-color: orangered; }
  body h1 {
    color: #244751; }

.header {
  background-color: yellow;
  height: 75px;
  display: flex;
  align-items: center; }

.container {
  width: 80%;
  margin: 0 auto; }
