body {
  font-size: 62.5%;
  position: relative; }

.container {
  width: 80%;
  margin: 0 auto; }

.underline {
  width: 90%;
  border-bottom: 4px solid white;
  margin-top: 0;
  margin: 0 auto; }

.hide {
  display: none; }

.button__primary {
  bottom: 10px;
  width: 120px;
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 25px;
  text-decoration: none;
  text-align: center; }

.button__primary--small {
  bottom: 10px;
  width: 80px;
  font-size: 20px;
  height: 25px;
  line-height: 25px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 25px;
  text-decoration: none;
  text-align: center; }

.button__primary--large {
  bottom: 10px;
  width: 100%;
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 25px;
  text-decoration: none;
  text-align: center; }

.button__primary:hover,
.button__primary--small:hover,
.button__primary--large:hover {
  background-color: #91bbd1;
  transition: all 0.3s ease-in-out; }

.button__primaryInvert {
  bottom: 10px;
  width: 180px;
  font-size: 30px;
  height: 60px;
  line-height: 60px;
  background-color: transparent;
  color: #549BBa;
  border: 2px solid #549BBa;
  border-radius: 25px;
  text-decoration: none;
  text-align: center; }

.button__primaryInvert--small {
  width: 80px;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  background-color: transparent;
  color: #549BBa;
  border: 2px solid #549BBa;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  cursor: pointer; }

.button__primaryInvert:hover,
.button__primaryInvert--small:hover {
  transform: translateY(-5px);
  background-color: #549BBa;
  color: #fff;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 18px 16px -4px rgba(84, 155, 186, 0.46);
  -moz-box-shadow: 0px 18px 16px -4px rgba(84, 155, 186, 0.46);
  box-shadow: 0px 18px 16px -4px rgba(84, 155, 186, 0.46); }

.button__toggle[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background-color: #c6c6c6;
  outline: none;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s; }

.button__toggle:checked[type="checkbox"] {
  background-color: green; }

.button__toggle[type="checkbox"]:before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: white;
  transform: scale(1.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s; }

.button__toggle:checked[type="checkbox"]:before {
  left: 20px; }

.header {
  background-color: #549BBa;
  height: 75px;
  width: 100%;
  position: fixed;
  z-index: 100; }
  .header__logo {
    display: flex;
    align-items: center; }
    .header__logo--img {
      height: 65px;
      width: auto; }
    .header__logo--text {
      font-size: 2rem;
      color: #fff; }

.admin {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: calc(100vh - 75px);
  column-gap: 30px;
  align-items: center;
  color: white;
  height: 100vh;
  padding-top: calc((100vh - (100vh - 75px)) / 2); }
  .admin__completed {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px; }

.menu {
  display: grid;
  grid-template-columns: 3fr 350px;
  grid-column-gap: 2rem;
  padding-top: 200px;
  position: relative; }
  .menu__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 4rem; }
  @media (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
    .menu__items {
      grid-template-columns: repeat(2, 1fr); } }

.checkout {
  background-color: #549BBa;
  position: fixed;
  font-size: 1rem;
  height: 600px;
  width: 350px;
  color: #fff;
  right: 10%; }
  .checkout__title {
    width: 90%;
    margin: 0 auto;
    border-bottom: 4px #fff solid;
    line-height: 0.8rem; }
    .checkout__title h3 {
      margin-bottom: 25px;
      font-size: 2rem;
      font-weight: 400;
      text-align: center; }
  .checkout__list {
    padding-top: 2rem; }
  .checkout__topping {
    padding-top: 1rem; }
  .checkout__list, .checkout__toppings {
    width: 100%;
    margin: 0 auto; }
    .checkout__list li, .checkout__toppings li {
      width: 90%;
      position: relative;
      padding-bottom: 1.5rem;
      list-style: none; }
    .checkout__list--delete, .checkout__toppings--delete {
      position: absolute;
      left: -20px; }
    .checkout__list--name, .checkout__toppings--name {
      position: absolute;
      left: 10px; }
    .checkout__list--quantity, .checkout__toppings--quantity {
      position: absolute;
      left: 200px; }
    .checkout__list--total, .checkout__toppings--total {
      position: absolute;
      right: 0; }
  .checkout__total {
    position: absolute;
    bottom: 80px;
    left: 1rem;
    border-top: 4px solid white;
    padding-top: 15px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    .checkout__total--title {
      text-align: end; }
    .checkout__total--price {
      grid-column-start: 4;
      grid-column-end: 5;
      text-align: end; }
  .checkout__button {
    position: absolute;
    bottom: 10px;
    width: 65%;
    left: 65px; }

.checkout:hover {
  -webkit-box-shadow: 18px 18px 16px -4px rgba(84, 155, 186, 0.46);
  -moz-box-shadow: 18px 18px 16px -4px rgba(84, 155, 186, 0.46);
  box-shadow: 18px 18px 16px -4px rgba(84, 155, 186, 0.46);
  transition: all 0.3s ease-in-out; }

.checkoutInfo {
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-column-gap: 2rem;
  padding-top: 200px;
  position: relative; }
  .checkoutInfo__text {
    font-size: 1rem;
    width: 40%;
    margin: 0 auto; }
  .checkoutInfo__title {
    font-size: 2rem;
    padding-bottom: 1.5rem;
    text-align: center; }
  .checkoutInfo__form {
    padding-left: 50px; }
    .checkoutInfo__form--name, .checkoutInfo__form--email, .checkoutInfo__form--phone {
      display: flex;
      flex-direction: column;
      padding-bottom: 2rem; }
      .checkoutInfo__form--name span, .checkoutInfo__form--email span, .checkoutInfo__form--phone span {
        font-size: 1.3rem;
        font-weight: bold;
        padding-bottom: 10px; }
      .checkoutInfo__form--name input, .checkoutInfo__form--email input, .checkoutInfo__form--phone input {
        border: none;
        border-bottom: 2px solid #549BBa;
        width: 80%;
        margin-left: 90px;
        height: 1.5rem; }
        .checkoutInfo__form--name input:focus, .checkoutInfo__form--email input:focus, .checkoutInfo__form--phone input:focus {
          outline: none; }
  .checkoutInfo__submit {
    padding-top: 1rem;
    padding-left: 50px; }

.jumbotron {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  grid-template-rows: 80vh;
  align-items: center;
  padding-top: 10vh; }
  .jumbotron__img img {
    width: 100%; }
  .jumbotron__block {
    grid-column-start: 3;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr); }
    .jumbotron__block--title {
      font-size: 3rem;
      color: #549BBa; }
    .jumbotron__block--text {
      font-size: 2rem; }
  @media (max-width: 37.5em) {
    .jumbotron {
      grid-template-columns: 1fr 60% 1fr;
      grid-template-rows: 30vh 5vh 3fr;
      padding-top: calc(100vh / 4); }
      .jumbotron__img {
        grid-column-start: 1;
        grid-column-end: 4; }
      .jumbotron__block {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        padding-top: 0;
        grid-template-rows: 2.5rem 3rem 40px;
        row-gap: 60px; }
        .jumbotron__block--title {
          font-size: 2.5rem; }
        .jumbotron__block--text {
          font-size: 1.5rem; } }
  @media (max-width: 75em) {
    .jumbotron {
      grid-template-columns: 1fr 60% 1fr;
      grid-template-rows: 30vh 5vh 3fr;
      padding-top: calc(100vh / 4); }
      .jumbotron__img {
        grid-column-start: 1;
        grid-column-end: 4; }
      .jumbotron__block {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        padding-top: 0;
        grid-template-rows: 2.5rem 3rem 40px;
        row-gap: 60px; }
        .jumbotron__block--title {
          font-size: 2.5rem; }
        .jumbotron__block--text {
          font-size: 1.5rem; } }
  @media (max-width: 37.5em) {
    .jumbotron__block--title {
      font-size: 2rem; } }
  @media (max-width: 56.25em) {
    .jumbotron__block--title {
      font-size: 2rem; } }

.itemInfo {
  display: grid;
  width: 100%;
  height: 100vh;
  padding-top: 5rem;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  font-size: 1rem;
  color: black; }
  .itemInfo__img {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center; }
  .itemInfo__text {
    padding-top: 200px; }
    .itemInfo__text--title {
      font-size: 2rem;
      text-align: center; }
    .itemInfo__text--desc {
      text-align: justify; }
  .itemInfo__add {
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
    .itemInfo__add--price {
      width: 65%;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      font-size: 1.3rem; }
  .itemInfo__extras {
    font-size: 1.3rem; }
  .itemInfo__topping {
    font-size: 1rem;
    list-style: none;
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-left: -40px;
    padding-top: 15px; }
    .itemInfo__topping--name {
      flex-grow: 2; }
    .itemInfo__topping--add {
      margin-left: -20px; }
    .itemInfo__topping--minus {
      margin-left: 20px; }
  .itemInfo__checkout {
    position: absolute;
    right: 0;
    top: calc((100vh - 600px) / 2); }

.menuItem {
  background-color: #549BBa;
  color: #fff;
  height: 600px;
  position: relative; }
  .menuItem__pic {
    background-color: #fff;
    margin: 0.5rem;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center; }
    .menuItem__pic img {
      width: auto;
      height: 100%; }
  .menuItem__text {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    font-size: 1.5rem; }
  .menuItem__stars {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: gold;
    position: absolute;
    bottom: 15%;
    left: 5%; }
    .menuItem__stars i {
      padding-right: 5px; }
  .menuItem__button {
    position: relative; }
    .menuItem__button--info {
      position: absolute;
      bottom: 14%;
      right: 5%; }
    .menuItem__button--add {
      position: absolute;
      bottom: 5%;
      left: 5%;
      width: 90%; }

.menuItem:hover {
  -webkit-box-shadow: 18px 18px 16px -4px rgba(84, 155, 186, 0.46);
  -moz-box-shadow: 18px 18px 16px -4px rgba(84, 155, 186, 0.46);
  box-shadow: 18px 18px 16px -4px rgba(84, 155, 186, 0.46);
  transition: all 0.3s ease-in-out; }

.adminNav {
  padding-left: 1rem;
  height: 700px;
  width: 100%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black; }
  .adminNav__orders {
    margin-top: 40px; }
  .adminNav__reviews {
    margin-bottom: 80px; }
  .adminNav__title {
    font-size: 2rem;
    margin-top: -10px;
    margin-bottom: 0; }
  .adminNav span {
    padding-top: 15px;
    display: block; }

.menuItemInfo {
  background-color: #549BBa;
  padding-top: 33px;
  height: 700px;
  width: 100%;
  font-size: 1rem;
  color: white;
  position: relative; }
  .menuItemInfo__title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px; }
  .menuItemInfo__discount {
    width: 90%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
  .menuItemInfo__start {
    width: 90%;
    padding-top: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
  .menuItemInfo__end {
    width: 90%;
    padding-top: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
  .menuItemInfo__recurrence {
    width: 90%;
    padding-top: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
  .menuItemInfo__container {
    width: 65%;
    margin-right: 5 .menuItemInfo__container;
    margin-left: 30%;
    padding-top: 30px; }
  .menuItemInfo__day {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .menuItemInfo__day--buttons span {
      padding-left: 10px; }
  .menuItemInfo__month {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .menuItemInfo__month--buttons span {
      padding-left: 10px; }
  .menuItemInfo__year {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .menuItemInfo__year--buttons span {
      padding-left: 10px; }
  .menuItemInfo__button {
    position: absolute;
    right: 5%;
    bottom: 5%; }

.menuList {
  background-color: #549BBa;
  height: 700px;
  width: 100%;
  font-size: 1rem;
  color: white; }
  .menuList__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px; }
  .menuList__list {
    list-style-type: none; }
  .menuList__item {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 20px; }
    .menuList__item--flag {
      text-align: right;
      font-size: 0.8rem; }
    .menuList__item--status {
      text-align: right; }

.ordersList,
.ordersCompleted {
  background-color: #549BBa;
  height: 70vh;
  font-size: 1rem;
  padding-left: 1rem;
  position: relative; }
  .ordersList__title,
  .ordersCompleted__title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px; }
  .ordersList__list,
  .ordersCompleted__list {
    list-style: none;
    width: 90%;
    margin: 0 -10px;
    margin-top: 30px; }
  .ordersList__item,
  .ordersCompleted__item {
    display: flex;
    justify-content: space-between;
    margin-right: -20px;
    padding-top: 30px; }
  .ordersList__index,
  .ordersCompleted__index {
    position: absolute;
    bottom: 30px; }
    .ordersList__index--prev,
    .ordersCompleted__index--prev {
      position: absolute;
      left: 30px; }
    .ordersList__index--text,
    .ordersCompleted__index--text {
      position: absolute;
      left: 120px; }
    .ordersList__index--page,
    .ordersCompleted__index--page {
      position: absolute;
      left: 300px; }
    .ordersList__index--next,
    .ordersCompleted__index--next {
      position: absolute;
      left: 420px; }

.orderInfo,
.orderInfoCompleted {
  background-color: #549BBa;
  height: 70vh;
  font-size: 1rem;
  position: relative; }
  .orderInfo__title,
  .orderInfoCompleted__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px; }
  .orderInfo__list,
  .orderInfoCompleted__list {
    list-style: none; }
  .orderInfo__item,
  .orderInfoCompleted__item {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px; }
    .orderInfo__item--extras,
    .orderInfoCompleted__item--extras {
      text-align: right;
      list-style-position: outside;
      list-style: disc; }
      .orderInfo__item--extras li:not(:first-child),
      .orderInfoCompleted__item--extras li:not(:first-child) {
        margin-top: 10px; }
  .orderInfo__timeline,
  .orderInfoCompleted__timeline {
    position: absolute;
    bottom: 100px;
    width: 100%;
    left: -20px; }
  .orderInfo__button,
  .orderInfoCompleted__button {
    position: absolute;
    bottom: 25px;
    right: 5%; }

.timeline {
  width: 100%; }
  .timeline__bar {
    counter-reset: step; }
  .timeline__step {
    list-style-type: none;
    float: left;
    width: 25%;
    position: relative;
    z-index: 10;
    text-align: center; }
  .timeline__step:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 2px solid white;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
    color: black; }
  .timeline__step:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    top: 15px;
    left: 50%;
    z-index: -1; }
  .timeline__step:last-child:after {
    content: none; }
  .timeline__step--active {
    color: green; }
  .timeline__step--active:before {
    border-color: green; }
  .timeline__step--active:after {
    background-color: green; }

.timelineCompleted {
  width: 100%; }
  .timelineCompleted__bar {
    counter-reset: step; }
  .timelineCompleted__step {
    list-style-type: none;
    float: left;
    width: 25%;
    position: relative;
    z-index: 10;
    text-align: center; }
  .timelineCompleted__step:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 2px solid white;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
    color: black; }
  .timelineCompleted__step:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    top: 15px;
    left: 50%;
    z-index: -1; }
  .timelineCompleted__step:last-child:after {
    content: none; }
  .timelineCompleted__step--active {
    color: green; }
  .timelineCompleted__step--active:before {
    border-color: green; }
  .timelineCompleted__step--active:after {
    background-color: green; }
