.header {
  background-color: $primary__color;
  height: 75px;
  width: 100%;
  position: fixed;
  z-index: 100;

  &__logo {
    display: flex;
    align-items: center;

    &--img {
      height: 65px;
      width: auto;
    }

    &--text {
      font-size: 2rem;
      color: $secondary__color;
    }
  }
}