// ~~ Media Query Break points

// ~~   Min  ||  Max  ||  Screen
// ~~    0       600      Phone *Original Build
// ~~   600      900      Tablet Portrait
// ~~   900      1200     Tablet Landscape
// ~~   1200     1800     Laptop and Desktop 
// ~~   1800              Large screens


@mixin screenBP($breakpoint) {
  
  @media (max-width: 37.5em) { @content };
  

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content };
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content };
  }

  @if $breakpoint == desk {
    @media (max-width: 112.5em) { @content };
  }

  @if $breakpoint == big-desk {
  }
}

@mixin screenDPI($dpi) {

  @if $dpi == high {
    @media
      (-webkit-min-device-pixel-ratio: 2), 
      only screen and (min-resolution: 192dpi) { @content }
  }
}