.adminNav {
  background-color: slategrey;

  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h3 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  span {
    padding-top: 8px;
    font-size: 1rem;
  }

  &__orders {
    display: flex;
    flex-direction: column;
  }

  &__menu {
    display: flex;
    flex-direction: column;
  }

  &__reviews {
    display: flex;
    flex-direction: column;
  }
}