.button__primary {
  bottom: 10px;
  width: 120px;
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  color: $secondary__color;
  border: 2px solid $secondary__color;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
}

.button__primary--small {
  bottom: 10px;
  width: 80px;
  font-size: 20px;
  height: 25px;
  line-height: 25px;
  background-color: transparent;
  color: $secondary__color;
  border: 2px solid $secondary__color;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
}

.button__primary--large {
  bottom: 10px;
  width: 100%;
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  color: $secondary__color;
  border: 2px solid $secondary__color;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;

}

.button__primary:hover,
.button__primary--small:hover,
.button__primary--large:hover {
  background-color: #91bbd1;
  transition: all 0.3s ease-in-out;
}

.button__primaryInvert {
  bottom: 10px;
    width: 180px;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    background-color: transparent;
    color: $primary__color;
    border: 2px solid $primary__color;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
}

.button__primaryInvert--small {
  width: 80px;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  background-color: transparent;
  color: $primary__color;
  border: 2px solid $primary__color;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  cursor: pointer
}

.button__primaryInvert:hover,
.button__primaryInvert--small:hover {
  transform: translateY(-5px);
  background-color: $primary__color;
  color: $secondary__color;
  transition: all 0.3s ease-in-out;
  @include button__shadow;
}

.button__toggle[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background-color: #c6c6c6;
  outline: none;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.button__toggle:checked[type="checkbox"] {
  background-color: green;
}

.button__toggle[type="checkbox"]:before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: white;
  transform: scale(1.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.button__toggle:checked[type="checkbox"]:before {
  left: 20px;
}