.menu {
  display: grid;
  grid-template-columns: 3fr 350px;
  grid-column-gap: 2rem;
  padding-top: 200px;
  position: relative;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 4rem;
  }
}

@include screenDPI(high) {
  &__items {
    grid-template-columns: repeat(2, 1fr);
  }
}